    <h1>したつもり貯金</h1>
     <p> 金額：</p>
       <%= form_tag('/result', name: "my_form", method: :post) do %> 
   
         <select id="text" name="money1">
           <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>
           <option>6</option>
           <option>7</option>
           <option>8</option>
           <option>9</option>
         </select>
           <span>00円を</span>
           <input type="submit" class="large-button" tabIndex="0" id="twitter_button" value = "<%= @usergoal_text %>に使う">
       <% end %> 

       <%= form_tag('/create_excuse', name: "excuse_form", method: :post) do %>
         <p> いいわけ： 
 　　　　  <input requred type="text" name="excuse" maxlength="20" ></p>
           <input type="submit" tabIndex="0" value="<%= @endurance_button_text %>ために使う"  class="large-button">　
       <% end %>
