<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="javascript/test.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
  <div class="container">
  <h1>したつもり貯金</h1>
     <p> 金額：</p>
       <form method="post" action="/addMoney" name="myForm">
       <%= form_tag('/addMoney', name: "myForm", method: :post) do %>
       <select id="text" name="kane1">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
       <option>6</option>
       <option>7</option>
       <option>8</option>
       <option>9</option>
       <input type="text" name="kane2" readonly="readonly" value="00円">
       <input type="submit" class="twitter" tabIndex="0" id="twitter_button" value = 飲んだつもりにする！！>
     <% end %>

       <% if user_signed_in? %>
       <% current_total = (current_user.total.blank? ? 0 : current_user.total.to_i) %>
       <% else %>
       <% current_total = -1 %>
       <% end %>
       <script>
       $('#twitter_button').click(function() {
         var money = parseInt(document.getElementById( "text" ).value) * 100;
         var tw_contents = (money + "円節約しました。");
         var url = "http://goo.gl/CYvhxG";
         var tw_contents_total = "";
         if (<%= current_total %> != -1) {
           var updated_total = <%= current_total %> + money;
           if (updated_total == money) {
             tw_contents_total = "これが初めての貯金です！"
           } else {
             tw_contents_total = "今までに" + updated_total + "円貯金しました！"
           }
         }
	 
         window.open().location.href  = ("https://twitter.com/share?url=" + url + "&amp;text=" + tw_contents + tw_contents_total + "&amp;count=none&amp;lang=ja"); 

    // エレメントを作成
    	var ele = document.createElement('input');
    // データを設定
    	ele.setAttribute('type', 'hidden');
    	ele.setAttribute('name', 'tweet_value');
    	ele.setAttribute('value', parseInt(document.getElementById( "text" ).value) * 100);
    // 要素を追加
	    document.myForm.appendChild(ele);
	    document.myForm.submit();
  

});

    </script>
      </form>
	<%= params %>
    <script src="js/bootstorap.min.js"></script>
  </div>
  </body>
</html>
