 
  <div class="top-form">
       <%= form_tag('/result', name: "my_form", method: :post) do %> 
       <p class="top-element"> 金額：
         <select id="money1" name="money1">
           <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>
           <option>6</option>
           <option>7</option>
           <option>8</option>
           <option>9</option>
         </select>
           <span class="h4">00円を</span>
           </p>
           <div class="top-element">
             <input type="submit" class="large-button" tabIndex="0" id="twitter_button" value = "<%= @usergoal_button_text %>に使う">
           </div>
       <% end %> 

       <%= form_tag('/create_excuse', name: "excuse_form", method: :post, id: "excuse_form") do %>
        <div class="top-element">
         <input type="button" tabIndex="0" value="<%= @endurance_button_text %>ために使う" class="large-button" name="excuse_trigger" id="excuse_trigger">　
        </div>
 　　　  <input type="text" name="waste_money" id="waste_money" class="hidden">
         <div id="excuse_area">
           <p> ちなみに、言い訳は？： 
 　　　      <input type="text" name="excuse" maxlength="50">
           </p>
           <input type="submit" tabIndex="0" value="貯金を1回休みにする" class="large-button">　
         </div>
       <% end %>
    </div>
    <div class="top-info">
    <div id="depo"> 
         <h2 class="top-info-title">したつもり貯金とは</h2>
    </div>
       <p>日々のちょっとしたお金の無駄遣いを「したつもり」になってかわりに本当にしたいこと・欲しいものにお金を使うことをサポートするアプリです。<br/>
自分のツイッターアカウントで、「したつもり」をドヤることができることが特長です。</p>

     <h2 class="top-info-title">ログインすると何ができるの？</h2>
     <p>●「本当にお金を使いたいもの」を設定できます。</p>
     <p>●「したつもり」にすることを設定できます。</p>
     <p>● いままでの貯金の合計金額がわかります。</p>

     <h2 class="top-info-title">続けられるかな？</h2>
     <p>他のみんなのつぶやきを見て、やる気を分けてもらいましょう！どんな設定だと続けられそうか、ヒントが見つかるかも？</p>

　   <a href="#twitter" class="dark-blue">
     <h2 class="top-info-link">みんなのツイートを見てみる</h2>
     </a>
   </div>
    <center><div id="twitter">
  <a class="twitter-timeline"  href="https://twitter.com/hashtag/%E3%81%97%E3%81%9F%E3%81%A4%E3%82%82%E3%82%8A%E8%B2%AF%E9%87%91" data-widget-id="785352546680352768"></a>
　</div></center>
