 <h1 class="center">したつもり貯金</h1>
       <%= form_tag('/result', name: "my_form", method: :post) do %> 
       <p class="top-element"> 金額：
         <select id="money1" name="money1">
           <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>
           <option>6</option>
           <option>7</option>
           <option>8</option>
           <option>9</option>
         </select>
           <span class="h4">00円を</span>
           </p>
           <div class="top-element">
             <input type="submit" class="large-button" tabIndex="0" id="twitter_button" value = "<%= @usergoal_button_text %>に使う">
           </div>
       <% end %> 

       <%= form_tag('/create_excuse', name: "excuse_form", method: :post, id: "excuse_form") do %>
        <div class="top-element">
         <input type="button" tabIndex="0" value="<%= @endurance_button_text %>ために使う" class="large-button" name="excuse_trigger" id="excuse_trigger">　
        </div>
 　　　  <input type="text" name="waste_money" id="waste_money" class="hidden">
         <div id="excuse_area">
           <p> ちなみに、言い訳は？： 
 　　　      <input type="text" name="excuse" maxlength="50">
           </p>
           <input type="submit" tabIndex="0" value="貯金を1回休みにする" class="large-button">　
         </div>
       <% end %>
     <br><br><br><br><br><br><br><br><br><br>
  
    <div id="depo"> 
            <center><h2>したつもり貯金とは</h2><center>
     </div>
       <p>日々のちょっとしたお金の無駄遣いを「したつもり」になってかわりに本当にしたいこと・欲しいものにお金を使うことをサポートするアプリです。<br/>                           
　　　　自分のツイッターアカウントで、「したつもり」をドヤることができることが特長です。</p>
　　　

     <center><h2>ログインすると何ができるの？</h2><center>
     <p>●「本当にお金を使いたいもの」を設定できます。</p>
     <p>●「したつもり」にすることを設定できます。    </p>
     <p>● いままでの貯金の合計金額がわかります。      </p>


     <center><h2>続けられるかな？</h2><center>
     <p>他のみんなのつぶやきを見て、やる気を分けてもらいましょう！</br>
      どんな設定だと続けられそうか、ヒントが見つかるかも？</p>

　   <center><a href=#twitter><h2>みんなのツイートを見てみる</h2></a><center>
  <br><br><br><br><br>
    <div id="twitter">
  <a class="twitter-timeline"  href="https://twitter.com/hashtag/%E3%81%97%E3%81%9F%E3%81%A4%E3%82%82%E3%82%8A%E8%B2%AF%E9%87%91" data-widget-id="785352546680352768"></a>
　</div>　
