<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <h1>したつもり貯金</h1>
     <p> 金額：</p>
       <%= form_tag('/result', name: "my_form", method: :post) do %> 
   
         <select id="text" name="money1">
           <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>
           <option>6</option>
           <option>7</option>
           <option>8</option>
           <option>9</option>
         </select>
         <% if user_signed_in? &&  current_user.endurances.exists? %>
           <span>00円を、<%= @current_endurance %>かわりに</span>
         <% else %>
           <span>00円を、コーヒーを飲むかわりに</span>
         <% end %> 
         <% if user_signed_in? && UserGoal.find_by(:user_id => current_user.id) %>
           <input type="submit" class="large-button" tabIndex="0" id="twitter_button" value = "<%= @usergoal.buttonStr %>に使う">
         <% else %>          
           <input type="submit" class="large-button" tabIndex="0" id="twitter_button" value = "目標の為に使う">
         <% end %>
      <% end %> 
          <%= form_tag('/create_excuse', name: "my_excuse", method: :post) do %>
        
           <p> いいわけ： 
 　　　　<input requred type="text" name="excuse" maxlength="20" ></p>
         <input type="submit" tabIndex="0" value= やめたい class="large-button">　
   
  <% end %>
 </body>
</html>
