<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="javascript/test.js"></script>
  </head>

  <body>
  <div class="container">
  <h1>したつもり貯金</h1>
    <form method="get" action="https://twitter.com/intent/tweet?text=">
      金額：
      <div class="row">
        <div class="col-md-666666">
           <select name="text">
           <option>90円の節約をしたぜ！</option>
           <option>100円の節約をしたぜ！</option>
           <option>120円の節約をしたぜ！</option>
           <option>150円の節約をしたぜ！</option>
           <option>160円の節約をしたぜ！</option>
           <option>180円の節約をしたぜ！</option>
           <option>200円の節約をしたぜ！</option>
           <option>250円の節約をしたぜ！</option>
           <option>300円の節約をしたぜ！</option>
           <option>350円の節約をしたぜ！</option>
        </div>
      </div>
     <div class="row">
       <div class="col-md-5">
         <input type="submit" value="飲まなかった（どや）"/>
       </div>
    </div>
    </form>
    <script src="js/bootstorap.min.js"></script>
  </div>
  </body>
</html>
