<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="javascript/test.js"></script>
       <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>

  
  <body>
    <form method="get" action="https://twitter.com/intent/tweet?text=">
      金額：
       <select name="text">
       <option>90円の節約をしたぜ！</option>
       <option>100円の節約をしたぜ！</option>
       <option>120円の節約をしたぜ！</option>
       <option>150円の節約をしたぜ！</option>
       <option>160円の節約をしたぜ！</option>
       <option>180円の節約をしたぜ！</option>
       <option>200円の節約をしたぜ！</option>
       <option>250円の節約をしたぜ！</option>
       <option>300円の節約をしたぜ！</option>
       <option>350円の節約をしたぜ！</option>
     <input type="submit" value="飲まなかった（どや）"/>
    </form>
  </body>
</html>
