<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="javascript/test.js"></script>
  </head>

  <body>
    <form method="get" action="https://twitter.com/intent/tweet?text=">
    <input type="hidden" name="aaa" data-unjoin="kane1+ +kane2" />
      金額：
       <select name="text">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <input type="text" name="kane2" value="00">
     <input type="submit" value="飲まなかった（どや）"/>
    </form>
  </body>
</html>
