@import "bootstrap-sprockets";
@import "bootstrap";

$background-color:#002C6A;
$body-color:#111111;
$jumbo-color:#111111;
$l-button-border-color:#dd254d;
$l-button-color:#E45171;
$l-button-color2:#e13b5f;
$l-button-color-hover:#e76783;
$l-button-color-hover2:#eb7d95;

/** Segging **/
$light-yellow: #ffff94;
$light-purple: #9494ff;
$goal-trying: $light-yellow;
$goal-achieved: $light-purple;

body {
        background-color:$background-color;        
        background-image:image-url("money_chokinbako.png");
        background-position:95%;
        color: $body-color; 
        font-family: Meiryo, sans-serif;
}
.jumbotron{ 
       background-color: rgba(255,250,250,.50);
       background-repeat:repeat-y;   
       color:$jumbo-color;
}

/**
.navbar-default .navbar-nav > li > a {
**/
/* レスポンシブのフォントサイズ指定 */

@media screen and (min-width: 0px) and (max-width : 767px){
    * {
        font-size:25px;
    }
    h1,h2 {
        font-size: 1.5em;
    }
    h3,h4 {
        font-size: 1.3em;
    }
    p,div, .panel-title, .form-control {
        font-size: 1em;
    }
    p.story  {
        font-size: 1.0em;
    }
    .copyright{
        font-size: 0.7em;
    }
}

li.login {
    text-align: right;
    list-style: none;
}

h2.logo {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width : 991px){
    * {
        font-size:25px;
    }
    .copyright{
        font-size:14px;
    }
    p.story  {
        font-size:14px;
        line-height: 1.8;
    }

}

@media screen and (min-width : 992px) {
    * {
        font-size:16px;
    }
    .copyright{
        font-size:18px;
    }
    p.story  {
        font-size:18px;
        line-height: 1.8;
    }

}



.large-button {
        border: 1px solid $l-button-border-color;
        background-color: $l-button-color;
        background-image: -webkit-linear-gradient(top, $l-button-color, $l-button-color2);
        background-image: linear-gradient(to bottom, $l-button-color, $l-button-color2);
        border-radius: 4px;
        color: #fff;
        line-height: 50px;
        -webkit-transition: none;
        transition: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.large-button:hover {
        border:1px solid $l-button-border-color;
        background-color: $l-button-color-hover;
        background-image: -webkit-linear-gradient(top, $l-button-color-hover, $l-button-color-hover2);
        background-image: linear-gradient(to bottom, $l-button-color-hover, $l-button-color-hover2);
}

.large-button:active {
        background: $l-button-color;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
        color: white;
        text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
.large-button {
        display: inline-block;
        height: 54px;
        text-align: center;
        text-decoration: none;
        line-height: 54px;
        outline: none;
   }
.large-button::before,
.large-button::after {
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
}
.large-button,
.large-button::before,
.large-button::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
}	
.large-button-a {
       width:100px;
}

#excuse_area {
 display: none;
}
/* For result **/

.red {
 font-size: 21px;
 font-weight: 600;
 color: $l-button-color;
}

/** For setting goals**/
.goal-table {
 width: 70%;
 background-color: white;
 border: gray;
}

.goal-status {
 width: 20%;
}

.goal-string {
 width: 50%;
}

.goal-money {
 width: 20%
}

.goal-achieved {
 /** background-color: $goal-achieved;**/
}

.goal-trying {
  background-color: $goal-trying;
}

.goal-tweet {
  background-color: none;
  width: 10%
}

/** devise **/
.devise-notice {
 padding: 8px;
 border: 1px solid red;
}








