<!DOCTYPE html>
<html lang="ja">
<head>
  <h1>やめたい理由</h1>
</head>
<body>
  <%= form_tag('/show', name: "my_form", method: :post) do %>
 
<tr> 
<p>:あきらめた金額は       円</p>
   <p> いいわけ:
       <%=@cast %></p>               
    <input type ="submit" tabIndex="0" value ="保存します" class="large-button">
<% end %>



</tr>
</body>
</html>


