<h1>誘惑に負けるときもあるよね</h1>
  <p><%= @current_endurance %>ために使っちゃった金額:<%=@new_excuse.waste_money %> 円</p>
  <p>言い訳: <%= @new_excuse.excuse %></p>               
  <p>今回の言い訳をみんなにつぶやいたら慰めてもらえるかも？</p>
  <p>ツイートする</p>
