<!DOCTYPE html>
<html lang="ja">
<head>
  <h1>やめたい理由</h1>
</head>
<body>
  <%= form_tag('/create_excuse, name: "my_form", method: :post) do %>
 
  <%= form_tag('/show, method: :post) do %>

 
<p>:あきらめた金額は<%= @excuse.waste_money %>円</p>
   <p> いいわけ:
    <%= @excuse.excuse %></p>               
    <input type ="submit" tabIndex="0" value ="保存します" class="large-button">
  <% end %>
<% end %>
</body>
</html>

