
<h1>誘惑にまけちゃったタイミング一覧</h1>
<TABLE class = "table excuse-table">

<p><% @current_excuses.each do |excuse| %> </p>
  <tr>
<CENTER><TD class ="excuse-lists"><%=excuse.excuse.to_s %></TD></CENTER>
  </tr>
<% end %> 
</TABLE>


